<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A New way of Casting your vote">
    <meta name="keywords" content="online, voting,secure voting ">
    <meta name="author" content="Musanga Sally">

    <title>Politico | Welcome</title>
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body > 
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Politico</span> Voting System</h1>
            </div>
        </div>
    </header>
    <div class="row" style="width: 100%; overflow: hidden;">
        
          <div class="box" style="width: 600px; float: left;">
            <img src="static/img/smart-cat.jpeg">
            <h3>Candidate 1</h3>
            <p><strong>Party:</strong>TAC <strong> <br> Candidate Name :</strong> Luna</p>
            <p><strong>Political Office:</strong>President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>
          </div>
          <div class="box" style="margin-left: 620px;">
            <img src="static/img/shiba-trust.jpg">
            <h3>Candidate 2</h3>
            <p><strong>Party:</strong>GOD <strong> <br> Candidate Name :</strong> Doge</p>
            <p><strong>Political Office:</strong>Vice President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>                     
          </div>        
      </div>
    <footer>
        <p> Rigged Voting System , Copyrighted by the Cat &copy; 2021</p>
    </footer>

</body>

</html>